cluster:
  name: k8s-scots-lab
  id: 0
ipam:
  mode: kubernetes
kubeProxyReplacement: true
nodePort:
  enabled: true
l7Proxy: true
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
k8sServiceHost: localhost
k8sServicePort: 7445
cni:
  exclusive: false
l2announcements:
  enabled: true
operator:
  replicas: 1
endpointRoutes:
  enabled: false
pmtuDiscovery:
  enabled: true
bpf:
  datapathMode: netkit
  masquerade: true
  vlanBypass:
    - 0
  hostLegacyRouting: true
envoyConfig:
  enabled: true
gatewayAPI:
  enabled: true
  enableAlpn: true
  enableAppProtocol: true
  hostNetwork:
    enabled: true
  gatewayClass:
    create: "true"
#clustermesh:
#  apiserver:
#    tls:
#      auto:
#        method: cronJob
hubble:
  relay:
    enabled: true
  tls:
    auto:
      method: cronJob
  ui:
    enabled: true
certgen:
  generateCA: true
envoy:
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy:
        - NET_ADMIN
        - SYS_ADMIN
        - NET_BIND_SERVICE
devices: br-ext
policyCIDRMatchMode: nodes