apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: ceph-objectstore
  namespace: rook-ceph
spec:
  dataPool:
    deviceClass: ssd
    failureDomain: host
    parameters:
      bulk: "true"
    replicated:
      size: 3
  gateway:
    instances: 1
    port: 80
    priorityClassName: system-cluster-critical
  metadataPool:
    deviceClass: ssd
    failureDomain: host
    replicated:
      size: 3
  preservePoolsOnDelete: true
