apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  annotations:
    dashboard:
      omni-kube-service-exposer.sidero.dev/icon: H4sICGfoVmgAA2NlcGhfbG9nb19pY29uXzE3MDQwNi5zdmcAZVbtTmQ3DH2VaPr7hsR24qQCpJbfPMRo2GWQZrurgpZ9/J7jXDqoFZIJSa4/jo9PuH39+Zx+fbv89Xp3OL+9/fj95ub9/T2/a/7+9/ONlFJucOOQ3l+e3s53h26HdP7y8nx+W+ufL1/e//z+6+6waRZJm2VLvWd35S/VcUhfXy6Xu8NvX4uJPR3ub38c387p6e7w2Gp28dRa9qmnTbKJbzUrXI2q+Nutw2EVGJW+ZZkd502zDmc8lSS5jLG1LMWS5dIdd3vvCbELnJV8Xfc8xkPruRRJFV8kQ7JdkvKOliwjlmfE0QdcGNzmGaLr/gVXMhFfj9JyH2nZEj+MM1LEqSfUVluqeY6GJDV818F8Z08tVzXWwxvNB6rqw3ClNGPFGqGmoEjHjmJn81ycFjG2SVAqPsWHFUCJczV7Y/VwJ7mZ4G5FkDYJZVPZ8gRQ1RoXnr23owJpABCWFVTkBwgrsfU/uD/TsuuU4A1kr1bj25aWXadAe5QO1zL6g1TeZQFCkKKTBABAl7bWZ0ShGx9p2d0No4/IRB/Mc+tsPSABX6QAfxKtkRIWqdDFrGnZ5YIp+J5PpFh3ey1SVxxPCrzHbuN4Q72SAqAT4POO+9YVAJuiLaBF4Ksp8EVDzbFdpwFd7ZZGVjSKLUIM9Kjoo05675Jro0+d6IGwZW600sh5QAfjpLh0iUOJIRiES7lGbwYcCiEEqTS3SlzbRLHZNswd8nMcMTZsJZtKJ/kc2fm45IL6CkpXpGClnTLA7cFDqeShVUwHuMtw0uSICjACyy6aY0Jri3HHPoLYbtcpwnXOY3MWqiyvDdREEgtBnOy+oSi0i1XKIIhksRVS3XTEbI8jM1m8LERAeoxJYzJDd7tOsQ+WIwCH14xJz7gxP9/ArEhszt1+cp3C9Ynyow7HzKlBEZhvZMXpXEllDnnYD9eAL0oKIOpu/4WDA0M42FX4A7iFlAJhAkpNAWW2CeHgViWiuTWPPgTfm1zQMCLUMFXOBh4rOJXCLFKjxRgONvkEDlB0wo8GabmCMJMfhWwYFForzi3SuSPLYBYBYJZDNLYdfoZ40JOZgp8XVuwhLP8fPbS+d5LTwMkJwi6zwEDyaPZgqadCAjdqUV1yEIIv5DAIKjSUrMIrpYEtxbkaFwQOVWOqpBE7249SMpCiWWmgY50qZwAB26a73Se8gnoDOi3xje/2A0jFkEB31r592HWKd6FwluD+hAo6SWlOSS8hvFAKCENwerTIq8y07If4DIx7FqjfOq8pzPXU8kqr7fZD04at834iJchNQzNxGwAj6UiNZDMyBwCROSw8u5KgVGuUxvRQGiNHgHbFRNMVk/+A6VREgImhxrMJzeB8YZ6CR1QPNIGtEWiSc/RL4WPBltVdc/A33yOqVzQWwrnaiq5SGEZQPVjA128sQpChhdIDx1HzdL7o4GfQibQFnYKI8RrN9omIId3TF2OVjH3E+1M7bmLg5MTnCRPcOWekeJV9Hfb1uhOzs++vNf9vwOm+jv1j3/PdH9PteqaHm/tb/iN1/w8KodprcAkAAA==
      omni-kube-service-exposer.sidero.dev/label: Ceph Dashboard
      omni-kube-service-exposer.sidero.dev/port: "50082"
      omni-kube-service-exposer.sidero.dev/prefix: cephdash
  cephVersion:
    allowUnsupported: false
    image: quay.io/ceph/ceph:v20.2.0
  cleanupPolicy:
    allowUninstallWithVolumes: false
    confirmation: ""
    sanitizeDisks:
      dataSource: zero
      iteration: 1
      method: quick
  continueUpgradeAfterChecksEvenIfNotHealthy: false
  crashCollector:
    disable: false
  dashboard:
    enabled: true
    port: 8080
    prometheusEndpoint: http://rook-prometheus:9090
    prometheusEndpointSSLVerify: false
    ssl: false
  dataDirHostPath: /var/lib/rook
  disruptionManagement:
    managePodBudgets: true
    osdMaintenanceTimeout: 30
  healthCheck:
    daemonHealth:
      mon:
        disabled: false
        interval: 45s
      osd:
        disabled: false
        interval: 60s
      status:
        disabled: false
        interval: 60s
    livenessProbe:
      mgr:
        disabled: false
      mon:
        disabled: false
      osd:
        disabled: false
  logCollector:
    enabled: true
    maxLogSize: 500M
    periodicity: daily
  mgr:
    allowMultiplePerNode: true
    count: 2
    modules:
    - enabled: true
      name: rook
  mon:
    allowMultiplePerNode: false
    count: 3
  monitoring:
    enabled: true
  network:
    connections:
      compression:
        enabled: false
      encryption:
        enabled: false
      requireMsgr2: false
    provider: multus
    selectors:
      cluster: cluster-net
      public: public-net
  priorityClassNames:
    mgr: system-cluster-critical
    mon: system-node-critical
    osd: system-node-critical
  removeOSDsIfOutAndSafeToRemove: false
  resources:
    cleanup:
      limits:
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 100Mi
    crashcollector:
      limits:
        memory: 60Mi
      requests:
        cpu: 100m
        memory: 60Mi
    exporter:
      limits:
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 50Mi
    logcollector:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 100Mi
    mgr:
      limits:
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 512Mi
    mgr-sidecar:
      limits:
        memory: 100Mi
      requests:
        cpu: 100m
        memory: 40Mi
    mon:
      limits:
        memory: 2Gi
      requests:
        cpu: 1000m
        memory: 1Gi
    osd:
      limits:
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 4Gi
    prepareosd:
      requests:
        cpu: 500m
        memory: 50Mi
  skipUpgradeChecks: false
  storage:
    useAllDevices: true
    useAllNodes: true
  upgradeOSDRequiresHealthyPGs: false
  waitTimeoutForHealthyOSDInMinutes: 10
