apiVersion: v1
data:
  config: |
    [global]
    # Removed osd_pool_default_size = 1
    # Removed mon_warn_on_pool_no_redundancy = false
kind: ConfigMap
metadata:
  name: rook-config-override
  namespace: rook-ceph
